.profile-container {
    /* width: 25%; */
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* align-items: center; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.logo {
    /* position: relative; */
    height: 40px;
    width: 133px;
    /* top: 32px;
    left: 32px; */
}

.profile-icon-container {
    display: flex;
    /* justify-content: start; */
    /* width: 100%; */
    padding-bottom: 20px;
}

.profile-icon {
    /* position: relative; */
    height: 58px;
    width: 58px;
    /* left: 32px; */
}

@media (max-width: 1024px) {
    .profile-container {
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    .profile-icon-container {
        overflow-clip-margin: content-box;
    overflow: clip;
    }
}