.music-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    width: 350px;
    margin-bottom: 8px;
}

.music-item-container:hover {
    cursor: pointer;
}

.music-profile-name-section {
    display: flex;
}

.music-cover {
    margin-right: 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.music-heading {
color: white;
font-size: 18px;
font-weight: 400;
}

.music-artist {
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
}

.music-timer {
    color: white;
    font-size: 18px;
    font-weight: 400;
    opacity: 60%;
}

.music-item-container.selected {
    background: #FFFFFF14; 
}